@use '../abstracts/variables' as *;

.challenge {
  background: $neutral0;
  padding: $space * 6 0;

  &__title {
    color: $primary800;
    margin-bottom: $space * 5;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: $space * 4;
  }

  &__text {
    color: $primary800;
    padding: 0 $space*3;
  }
}

/* Card */
.challenge-card {
  background: $neutral0;
  border-radius: 24px;
  padding: $space * 4;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__img {
    width: 100%;
    max-height: 160px;
    object-fit: contain;
    margin-bottom: $space * 3;
  }

  h4 {
    margin-bottom: $space * 2;
  }

  p {
    color: $neutral600;
    line-height: 1.6;
  }
}
