@use '../abstracts/variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: $neutral100;
  color: $neutral800;
}

.container {
  width: 100%;
  padding: 0 $space * 3;
  margin: 0 auto;
}
