$space: 8px;

/* Colors */
$primary100: #cffefb;
$primary200: #a5fcf8;
$primary300: #68f8f3;
$primary400: #23edea;
$primary500: #07d3d3;
$primary600: #09aab1;
$primary700: #0f878f;
$primary800: #166f78;
$primary900: #165963;
$primary950: #083c44;

$secondary100: #fff3c6;
$secondary200: #ffe588;
$secondary300: #ffd34a;
$secondary400: #ffbd1d;
$secondary500: #f99c07;
$secondary600: #dd7402;
$secondary700: #b75106;
$secondary800: #943d0c;
$secondary900: #7a330d;
$secondary950: #461902;

$neutral0: #ffffff;
$neutral100: #f5f5f5;
$neutral150: #ededed;
$neutral200: #e6e6e6;
$neutral300: #d6d6d6;
$neutral400: #a5a5a5;
$neutral500: #767676;
$neutral600: #575757;
$neutral700: #434343;
$neutral800: #292929;
$neutral900: #1a1a1a;
$neutral950: #101010;

$other_warning: #ff8a22;
$other_warning-hover: #ff7800;
$other_blue-mds-logo: #43bccb;
$other_blue-mds-logo-icon: #65c8d5;

/* Radius */
$radius-md: 16px;
$radius-lg: 24px;
$radius-full: 999px;
